In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data/processed_data.csv')

In [3]:
data.head()

                                             reviews
0  verified british airways confirmed worst airli...
1   worst ba experience supposed fly italy  septe...
2   daughter denied boarding business class fligh...
3   despite boarding usual free lhr groups  calle...
4  verified flight cancelled crew th september  p...

In [4]:
data.isna().sum()

reviews    0
dtype: int64

In [5]:
data = data[["reviews"]]

In [6]:
data.head()

                                             reviews
0  verified british airways confirmed worst airli...
1   worst ba experience supposed fly italy  septe...
2   daughter denied boarding business class fligh...
3   despite boarding usual free lhr groups  calle...
4  verified flight cancelled crew th september  p...

In [7]:
import nltk
from nltk.tokenize import word_tokenize

In [8]:
df = pd.DataFrame(data)

In [9]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\bhavi\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [10]:
df['Tokens'] = df['reviews'].apply(lambda x:word_tokenize(x))

In [11]:
df.head()

,reviews,Tokens
0,verified british airways confirmed worst airli...,"[verified, british, airways, confirmed, worst,..."
1,worst ba experience supposed fly italy septe...,"[worst, ba, experience, supposed, fly, italy, ..."
2,daughter denied boarding business class fligh...,"[daughter, denied, boarding, business, class, ..."
3,despite boarding usual free lhr groups calle...,"[despite, boarding, usual, free, lhr, groups, ..."
4,verified flight cancelled crew th september p...,"[verified, flight, cancelled, crew, th, septem..."

In [15]:
tokenized_data = df['Tokens']
preprocessed_data = df['reviews']

In [16]:
tokenized_data.head(), preprocessed_data.head()

(0    [verified, british, airways, confirmed, worst,...
 1    [worst, ba, experience, supposed, fly, italy, ...
 2    [daughter, denied, boarding, business, class, ...
 3    [despite, boarding, usual, free, lhr, groups, ...
 4    [verified, flight, cancelled, crew, th, septem...
 Name: Tokens, dtype: object,
 0    verified british airways confirmed worst airli...
 1     worst ba experience supposed fly italy  septe...
 2     daughter denied boarding business class fligh...
 3     despite boarding usual free lhr groups  calle...
 4    verified flight cancelled crew th september  p...
 Name: reviews, dtype: object)

In [17]:
tokenized_data.to_csv("data/toknized_data.csv",  index=False,)
preprocessed_data.to_csv("data/preprocessed_data.csv",  index=False,)